body {
  color: #fff;
  margin-top: 30px;
  background-color: #131c32;
  background-image: url('../images/trade.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

form {
  max-width: 530px;
  margin: auto;
}

input, option, select, button, textarea {
  padding: 6px 15px;
  border: 1px solid #ccc;
  font-size: 18px;
}

select {
  width: 170px;
}

textarea {
  width: 94%;
  background-color: darkslategrey;
}

button {
  color: #fff;
  background-color: #00B7FF;
  border: 0 !important;
  width: 100%;
  cursor: pointer;
} 

.buy, 
.sell {
  font-weight: bold;
}

.buy {
  color: green;
}

.sell {
  color: red;
}

.error, .success {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  padding: 5px 0;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

table {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  border-spacing: 0 10px;
}

th, td {
  border: 1px solid #fff;
  padding: 5px 15px;
}

td .link {
  display: block;
  margin: 6px 0;
}

@media only screen and (max-width: 768px) {
  form, select, textarea {
    max-width: 100% !important;
    width: 100% !important;
  }

  input[type=text], input[type=number] {
    width: 93% !important;
  }

  input, select {
    margin-bottom: 20px;
  }
}